{# src/Ccm/TwigBundle/Resources/views/Default/incluye.html.twig #}
{% extends 'CcmTwigDemoBundle::layout.html.twig' %}

{% block title %}DrupalCamp - Include{% endblock %}

{# Se sustituye la barra de navegación para cambiar el menú activo #}

            {% block nav%}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('index') }}">Inicio</a></li>
                    <li><a href="{{ path('variables') }}">Variables</a></li>
                    <li><a href="{{ path('herencia') }}">Herencia</a></li>
                    <li><a href="{{ path('control') }}">Control</a></li>
                    <li class="active"><a href="{{ path('incluye') }}">Include</a></li>
                </ul>
            {% endblock %}


{% block body %}

    {% include 'CcmTwigDemoBundle:Default:quotes.html.twig'%}

    {{ parent() }}

    {% include 'CcmTwigDemoBundle:Default:quotes.html.twig'%}

{% endblock %}